/Snake_Game/lib/com.fasterxml.jackson.databind-2.10.3.LIFERAY-PATCHED-1.jar
/Snake_Game/lib/jackson-annotations-2.11.2.jar
/Snake_Game/lib/jackson-core-2.10.4.jar
/Snake_Game/lib/apiguardian-api-1.1.0.jar
/Snake_Game/lib/junit-jupiter-5.7.0.jar
/Snake_Game/lib/junit-jupiter-api-5.7.0.jar
/Snake_Game/lib/junit-jupiter-engine-5.7.0.jar
/Snake_Game/lib/junit-jupiter-params-5.7.0.jar
/Snake_Game/lib/junit-platform-commons-1.7.0.jar
/Snake_Game/lib/junit-platform-engine-1.7.0.jar
/Snake_Game/lib/opentest4j-1.2.0.jar
/Snake_Game/out/production/